$c-main-menu-menu-height: 62px;
$c-main-menu-break-menu: 935px;
$c-main-menu-logo-width: 250px;
$c-main-menu-background-color:#0055B8;
$c-main-menu-color:#FFFFFF;

.c-main-menu {
    position: fixed;
    left:0px;
    top: 0px;
    width: 100%;
    height: $c-main-menu-menu-height;
    background-color: $c-main-menu-background-color;
    color: $c-main-menu-color;
    font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
    font-size: $font-size-xxs;


    display: grid;
    grid-template-areas:"logo";
    grid-template-columns: min-content min-content auto min-content;


    
    &__logo {
        grid-area:logo;
        background-image: url(../img/logo/logo_fp_empresa2_invertido.png);
        height: 59px;
        width: 214px;
    }
    &__logo2 {
        grid-area:logo;
        background-image: url(../img/logo/dualiza_small.png);
        background-position: center;
        height: 59px;
        width: 122px;
        margin-right: 20px;
        margin-left: 20px;
    }    
    

    

    &__hamburger {
        grid-area:hamburger;
        display: none;
    }    


    &__main-button {

        padding-left: 18px;
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 0px;
        font-size: $font-size-xs;
        font-weight: bold;
        white-space: nowrap;
    }
    
    &__main-button-text {
        display:inline;
    }  
    
   
    

    &__items {
        grid-area:items;

        margin-left: auto;
        display: flex;
        flex-direction: row;
        background-color: $c-main-menu-background-color;
    }  



    &__item {
        padding: 0px;
        margin-top: $g-size-xxxs+7;
        margin-bottom: $g-size-xxxs;
        padding-left: $g-size-xxxxs;
        padding-right: $g-size-xxxxs;
    } 

    



   

    @keyframes animation-rollout {
        from {
            transform: translate(0,-100%);
        }
        to {
            transform: translate(0,0);
        }
    } 
    @keyframes animation-rollin {
        from {
            transform: translate(0,0);
        }
        to {
            transform: translate(0,-100%);
        }
    }
}




