.c-title {
    font-family: $font-family-title;
    text-align: center;
    font-size: $font-size-xl; 
    color: $color-gris-darken-1;

        @include movil {
            padding: $g-size-xxxxxxs;
            font-size: $font-size-m;
        }

        @include tablet {
            padding: $g-size-xxxxs;
            font-size: $font-size-l;
        }
        @include desktop {
            padding: $g-size-xxxs;
            font-size: $font-size-xl;
        }
}