.c-text {
    font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
    font-size: $font-size-m;
    color: $color-gris;
    padding: $g-size-xxs;
    line-height: 1.75em;
    
    @include movil {
        font-size: $font-size-xxs;
    }
    @include tablet {
        font-size: $font-size-xs;
    }
    @include desktop {
        font-size: $font-size-s;
    }
    
}