
$color-gris-darken-3:hsl(210,20%,3%);
$color-gris-darken-2:hsl(210,18%,10%);
$color-gris-darken-1:hsl(210,15%,30%);
$color-gris:hsl(210,14%,50%);
$color-gris-lighten-1:hsl(210,15%,70%);
$color-gris-lighten-2:hsl(210,18%,90%);
$color-gris-lighten-3:hsl(210,20%,97%);

$color-main-darken-3:hsl(341,95%,8%);
$color-main-darken-2:hsl(341,84%,20%);
$color-main-darken-1:hsl(341,76%,37%);
$color-main:hsl(341,71%,50%);
$color-main-lighten-1:hsl(341,76%,63%);
$color-main-lighten-2:hsl(341,84%,80%);
$color-main-lighten-3:hsl(341,95%,92%);


$color-alt-darken-3:hsl(82,100%,5%);
$color-alt-darken-2:hsl(82,84%,20%);
$color-alt-darken-1:hsl(82,70%,35%);
$color-alt:hsl(82,61%,50%);
$color-alt-lighten-1:hsl(82,70%,65%);
$color-alt-lighten-2:hsl(82,84%,80%);
$color-alt-lighten-3:hsl(82,100%,95%);

$color-alt2-darken-3:hsl(210,100,5%);
$color-alt2-darken-2:hsl(210,84%,20%);
$color-alt2-darken-1:hsl(210,70%,35%);
$color-alt2:hsl(210,65%,50%);
$color-alt2-lighten-1:hsl(210,70%,65%);
$color-alt2-lighten-2:hsl(210,84%,80%);
$color-alt2-lighten-3:hsl(210,100%,95%);
